* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}

body {
  background-color: #000;
  color: #fff;
  width: 100%;
  height: 100%;
}

.box {
  width: 200px;
  height: 200px;
  background-color: cadetblue;
}